input {
  elasticsearch {
    hosts => [ "localhost:9200" ]
    index => "mytest"
    size => 5000
    scroll => "20m"
    docinfo => true
    query => '{ "query": { "query_string": { "query": "*" } } }'
  }
}
output {
  elasticsearch {
    host => "localhost:9200"
    index => "updated_mytest"
    protocol => "http"
    index_type => "%{[@metadata][_type]}"
    document_id => "%{[@metadata][_id]}"
    workers => 10
  }
  stdout {
    codec => rubydebug
  }
}
filter {
  ruby {
    code => "event['summary']['reservationTimeMinutes'] = event['summary']['elapsedTimeMinutes'] * (event['provider'] == "car2go" ? 0.25 : 0.2)"
  }
}